[submodule "Packages/DungeonsAndDungeonsCommon"]
	path = Packages/DungeonsAndDungeonsCommon
	url = https://github.com/Mineorbit/DungeonsAndDungeonsCommon
[submodule "Packages/DungeonsAndGuneonsCommon"]
	path = Packages/DungeonsAndGuneonsCommon
	url = https://github.com/Mineorbit/DungeonsAndDungeonsCommon
